@font-face {
    font-family: Raleway;
    src: url(../../Assets/Raleway/Raleway-VariableFont_wght.ttf);
}

@font-face {
    font-family: Avenir;
    src: url(../../Assets/AvenirLight/Avenir-Light.ttf);
}

.homeContainer.container{
    max-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #EDEAE0;
    display: flex;
    flex-direction: column;
}

.strawHat{
    width: 65%;
}

#hero1{
    background-image: url("../../Assets/hat.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#hero2{
    background-image: url("../../Assets/marcelDesk.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

#hero3{
    background-image: url("../../Assets/beach.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.LuffyHome{
    background-image: url(../../Assets/LuffyHome.png);
    background-position: center;
    background-size: cover;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.heroTxt{
    font-family: Raleway;
    font-size: 68px; 
    color: white;
    padding-top: 50px;
}

.typewriter-container {
    display: inline-block;
    height: 125px;
}

.heroTxt2 {
    font-family: Raleway;
    font-size: 50px;
    color: white; 
    padding-bottom: 50px;
    display: inline-block; /* Add this line to make the text and cursor display inline */
}

.blinking-cursor {
    animation: blink-animation 0.8s infinite;
    font-family: Raleway;
    font-size: 50px;
    color: white; 
    padding-bottom: 50px;
    display: inline-block;
}

.static-cursor {
    font-family: Raleway;
    font-size: 50px;
    color: white; 
    padding-bottom: 50px;
    display: inline-block;
}

@keyframes blink-animation {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

.slider-container {
    padding: 0px;
    margin: 0px;
    width: 100% !important;
    overflow-x: hidden !important;
    position: relative;
}

.prevButton,
.nextButton {
    position: absolute;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    border: none;
    background-color: rgba(238, 234, 224, 1);
    cursor: pointer;
    font-size: 24px;
}

.prevButton {
    left: 0;
    padding-left: 20px;
}

.nextButton {
    right: 0;
    padding-right: 20px;
}

.slick-track {
    margin: 0px;
}

.slick-slide.slick-center img {
    transform: scale(1.2); /* Initial scale */
    transition: transform 0.5s ease-in-out; /* Transition property for smooth scaling */
}

.slick-slide.slick-center:hover img {
    transform: scale(1.1); /* Scale when hovered */
}

.titleTxt{
    font-family: Raleway;
    font-size: 68px;
}

.titleTxt2{
    font-family: Raleway;
    font-size: 68px;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 12px;
}

.titleTxt3{
    font-family: Raleway;
    font-size: 68px;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 12px;
    color: rgba(0, 0, 0, 1);
}

.portfolioTitle{
    font-family: Avenir;
    font-weight: bold;
    margin: 0;
    padding-top: 75px;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
    color: black;
    font-size: 30px;
}

.portfolioTxt{
    font-family: Avenir;
    margin: 0;
    color: black;
    font-size: 20px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}

.langRow.row{
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.logoSize{
    width: auto;
    height: 64px;
    margin: 0;
    padding: 0;
    margin: 15px;
}

.learnMoreBtn{
    font-family: Avenir;
    color: black;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    border-radius: 8px;
    width: 150px;
}

.learnMoreBtn:hover{
    font-family: Avenir;
    color: black;
    background-color: rgba(0, 0, 0, 0) !important;
    border: none;
    border-style: solid;
    border-width: 1px;
    border-color: white;
    width: 150px;
}

.learnMoreBtn:focus{
    font-family: Avenir;
    color: black;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    border: none;
    width: 150px;
}

.rowLearn.row{
    margin: 0;
    padding: 0;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
}

.projectDiv{
    background-color: #3C8A9D;;
    margin: 0;
    padding: 0;
    width: 100%;
    display: flex;
    padding-top: 40px;
    /* flex-direction: column;
    align-items: center; */
}

.projectTxt{
    font-family: Raleway;
    margin: 0;
    padding: 0;
    font-size: 68px;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

.project1{
    margin: 0;
    padding: 0;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 17%;
    padding-right: 17%;
    margin-bottom: 50px;
}

.projectCard {
    background-color: black;
}

.pokeTitle{
    font-family: Raleway;
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.pokePara{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}

.pokeLink{
    margin: 0;
    padding: 0;
    width: 347px;
    color: white;
    font-size: 16px;
}

.weatherTitle{
    font-family: Raleway;
    width: auto;
    margin: 0;
    padding: 0;
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
}

.weatherPara{
    margin: 0;
    padding: 0;
    color: white;
    font-size: 16px;
    margin-bottom: 10px;
}

.weatherLink{
    margin: 0;
    padding: 0;
    width: 347px;
    color: white;
    font-size: 16px;
}

.projectCard {
    margin-bottom: 40px;
}

.projectCard img {
    width: 100%; /* Full width */
    height: 300px; /* Height equal to the shortest image */
    object-fit: cover; /* Cover the container without stretching */
    object-position: top; /* Align the top of the image with the top of the container */
}

.btn-link-div {
    width: 100%;
    display: flex;
    justify-content: center;
}

.colHa{
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 0;
}

.imgCol.col{
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgSlideCol{
    padding: 0;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
}

.imgTxt{
    color: black;
    font-size: 16px;
    font-family: Avenir;
    text-align: center;
}

.pokeLanguage{
    color: white;
    font-family: Avenir;
}

.buttonRow{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.buttonTxt{
    font-family: Avenir;
    background-color: rgba(0, 0, 0, 0) !important;
    border-color: white !important;
    width: 150px;
}

@media screen and (max-width: 1100px){
    .project1{
        height: auto;
        flex-direction: column;
        margin: 0;
        padding-bottom: 100px;
    }

    .project2{
        flex-direction: column-reverse;
    }

    .center{
        text-align: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 991px){
    .LuffyHome{
        /* height: calc(100vh - 73px); */
        height: 400px !important;
    }

    .heroTxt{
        font-size: 22px;
    }

    .heroTxt2{
        font-size: 18px;
    }

    #hero1{
        height: 100%;
    }
    
    #hero2{
        height: 100%;
    }
    
    #hero3{
        height: 100%;
    }
    
}

@media screen and (max-width: 768px){
    .titleTxt{
        font-size: 22px;
    }
    
    .titleTxt2{
        font-size: 22px;
        background-color: rgba(0, 0, 0, 0.7);
        border-radius: 12px;
    }
    
    .titleTxt3{
        font-size: 22px;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 12px;
    }
}

@media screen and (max-width: 425px){
    .carousel-item{
        /* height: calc(100vh - 73px); */
        height: 300px !important;
    }

    .portfolioTitle{
        margin: 0;
        padding-top: 75px;
        display: flex;
        justify-content: center;
        padding-bottom: 40px;
        color: black;
        font-size: 20px;
    }
    
    .portfolioTxt{
        margin: 0;
        color: black;
        font-size: 15px;
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 150px;
    }

    .pokeTitle{
        width: auto;
    }
    
    .pokePara{
        width: auto;
    }
    
    .pokeLink{
        width: auto;
        font-size: 12px;
    }

    .weatherTitle{
        width: auto;
    }
    
    .weatherPara{
        width: auto;
    }
    
    .weatherLink{
        width: auto;
        font-size: 12px;
    }

    .pokemonPic{
        width: 267px;
        height: auto;
    }

    .weatherPic{
        width: 267px;
        height: auto;
    }

    .SerenityPic{
        width: 267px;
        height: auto;
    }
}